a {
  text-decoration: none;
}

.hero-image {
  background-image: url(../assets/Banner.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

nav {
  flex: 0 0 auto;
}

.section {
  flex: 1 1 auto;
  overflow: auto;
}

.side-nav {
  width: 280px;
}

ul > li:hover > a:hover {
  background: #0d6efd;
  color: #fff;
}

.wrapper {
  display: flex;
  height: 100vh;
}

*[id]:before {
  display: block;
  content: " ";
  margin-top: -190px;
  height: 190px;
  visibility: hidden;
}
